*.exe
*.out
*.app
*.o
*.obj
core
*.tmp
*.temp
*~
*.so
*.dylib
*.dll
*.log
/build/
/bin/
/obj/
/lib/
.vscode/
.idea/
*.swp
*.o
test*
*/.DS_Store
*/.vscode
*/.idea
*/.git
*/.gitignore
*/.gitattributes
*/.gitmodules
*/.gitkeep
*/.gitconfig
*/.gitmessage
